<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
# the only "missing" data is session_execution_summary (it is in other file)

In [1]:
import pandas as pd
import numpy as np

In [3]:
def jeden(table, var):
    print('nunique:', table[var].nunique(), ',',
'duplicated:', table[var].duplicated().any(), ',',
     'nan sum', table[var].isna().sum())

In [4]:
def dwa(table, var1, var2):
    print('Duplicated:', '\n',
           var1,':',table[var1].duplicated().any(),
      ',', var2, ':', table[var2].duplicated().any(), '\n',
         'Nunique:', '\n',
          var1,':', table[var1].nunique(),
     ',', var2, ':', table[var2].nunique(), '\n',
         'NA sum:', '\n',
          var1,':', table[var1].isna().sum(),
     ',', var2, ':', table[var2].isna().sum())

In [5]:
def trzy(table, var1, var2, var3):
    print('Duplicated:', '\n',
           var1, ':',table[var1].duplicated().any(),
      ',', var2, ':', table[var2].duplicated().any(), 
      ',', var3, ':', table[var3].duplicated().any(), '\n',
         'Nunique:', '\n',
          var1, ':', table[var1].nunique(),
     ',', var2, ':', table[var2].nunique(), 
     ',', var3, ':', table[var3].nunique(),'\n',
         'NA sum:', '\n',
          var1, ':', table[var1].isna().sum(),
     ',', var2, ':', table[var2].isna().sum(),
     ',', var3, ':', table[var3].isna().sum())

In [6]:
achievements = pd.read_csv('/home/evida-monika/mhunters/achievments.csv', sep=';')
# achievements.sort_values('id')

In [7]:
users = pd.read_csv('/home/evida-monika/mhunters/users.csv', low_memory=False)

users2 = users.drop(['email', 'encrypted_password', 
                     'reset_password_token','reset_password_sent_at',
                     'remember_created_at','is_admin','names', 'last_name',
                     'current_sign_in_ip', 'last_sign_in_ip', 
                     'recover_password_code','recover_password_attempts', 
                     'facebook_uid','workout_setting_voice_coach', 'workout_setting_sound',
                     'workout_setting_vibration', 'workout_setting_mobility',
                     'workout_setting_cardio_warmup', 'workout_setting_countdown',
                     'google_uid','t1_push','t1_core', 
                     't1_legs', 't1_full', 't1_push_exercise', 
                     't1_pull_up','t2_reps', 't2_steps', 
                     't2_reps_push', 't2_reps_core', 't2_reps_legs',
                     't2_reps_full', 't2_time_push', 't2_time_core',
                     't2_time_legs', 't2_time_full', 't1_full_exercise', 
                     't1_pull_up_exercise','warmup_setting', 
                     'warmup_session_id', 'stripe_id', 'provider', 'uid',
                     'affiliate_code', 'moengage_id', 'mix_panel_id',
                     'apple_id_token','platform', 'login_token',
                     'login_token_generated_at', 'imported',
                     'current_sign_in_at', 'last_sign_in_at', 'sign_in_count',
                    'current_weekly_streak'], 
                    axis = 1)

In [8]:
#users['id'].nunique()

In [9]:
#users.iloc[:,6]

In [10]:
profiles = pd.read_csv('/home/evida-monika/mhunters/profiles.csv')

profiles2 = profiles.drop(['fat_level', 'name', 'created_at', 'updated_at'], axis = 1)

In [11]:
session_executions = pd.read_csv('/home/evida-monika/mhunters/session_executions.csv', on_bad_lines='skip', low_memory=False, header = None)
session_executions.columns = ['id', 'scheduled_at', 'user_program_id', 
                              'difficulty_feedback', 'enjoyment_feedback',
                             'feedback_comment', 'reps_executed',
                             'execution_time', 'order', 'created_at',
                             'updated_at', 'front_end_id', 'session_id',
                             'discarded', 'discard_reason', 'imported']

session_executions2 = session_executions.drop(['scheduled_at', 'feedback_comment',
                                              'order', 'created_at', 'updated_at',
                                              'front_end_id', 'imported'], axis = 1)

In [12]:
#dwa(session_executions, 'user_program_id', 'session_id')

In [13]:
subscriptions = pd.read_csv('/home/evida-monika/mhunters/subscriptions.csv', on_bad_lines='skip', low_memory=False)

subscriptions2 = subscriptions.drop(['platform', 'transaction_body', 'start_date', 
                                     'end_date', 'subscription_type', 'cancelled_at',
                                     'cancelled', 'store_metadata','offer_code',
       'cancellation_reason', 'receipt_data'], axis = 1)

In [14]:
# trzy(subscriptions, 'user_id', 'product_id', 'program_id')

In [15]:
exercise_sets = pd.read_csv('/home/evida-monika/mhunters/exercise_sets.csv', on_bad_lines='skip', low_memory=False)

exercise_sets2 = exercise_sets.drop(['intensity_modificator', 'track_reps'], axis = 1)

In [16]:
# exercise_sets.shape

In [17]:
# dwa(exercise_sets, 'session_set_id', 'exercise_id')

In [11]:
exercises = pd.read_csv('/home/evida-monika/mhunters/exercises.csv', sep = ';', on_bad_lines='skip', low_memory=False)

exercises2 = exercises.drop(['video','reps', 'time','legacy_id','deprecated', 
                             'replacement_legacy_id', 'family', 'sub_family',
                             'video_female', 'video_male', 'harder_variation_id',
                             'easier_variation_id','name_es', 'description_en',
       'description_es', 'implement_variation_id', 'test_correction',
       'thumbnail', 'thumbnail_male', 'thumbnail_female', 'notes_en',
       'notes_es', 'execution_time', 'thumbnail_400', 'thumbnail_400_male',
       'thumbnail_400_female', 'coach_id', 'test_equivalent_id', 't1_min',
       't1_max', 'excluded'], axis = 1)

In [12]:
exercises2.head()

,id,created_at,updated_at,body_parts_focused,muscles,joints,met_multiplier,name_en
0,5551,2020-10-15 12:37:19.622509,2021-08-24 13:43:14.829103,"{""Todo el cuerpo""}","{isquiotibiales,"" erector de la columna"","" dor...",{cadera},2.3,Straddle split
1,5528,2020-10-15 12:37:19.379916,2021-08-24 13:43:14.852983,{Piernas},"{cuádriceps,"" isquiotibiales"","" glúteos""}",{cadera},2.3,Side leg swing (left)
2,5216,2020-10-15 12:37:15.688677,2021-10-13 09:46:28.673338,{Core},"{""erector de la columna"","" recto mayor del abd...","{hombros,"" tobillos""}",2.5,Plank
3,5706,2020-10-15 12:37:21.440337,2021-09-22 17:13:47.654393,"{Brazos,Core}","{pectorales,"" dorsales"","" bíceps""}","{hombros,"" codos"","" muñecas""}",3.8,Archer row 2
4,5702,2020-10-15 12:37:21.397943,2021-09-22 17:13:47.669895,"{Espalda,Brazos}","{deltoides,"" tríceps"","" dorsales""}","{codos,"" hombros"","" muñecas""}",3.2,Chest fly 2

In [19]:
# exercises['id'].nunique()

In [20]:
# jeden(exercises, 'coach_id')

In [21]:
session_block_executions = pd.read_csv('/home/evida-monika/mhunters/session_block_executions.csv', on_bad_lines='skip', low_memory=False)

session_block_executions2 = session_block_executions.drop(['block_type', 
                                                           'reps_executed',
                                                           'execution_time', 
                                                           'created_at', 
                                                           'updated_at'], axis = 1)

In [22]:
# session_block_executions.shape

In [23]:
# jeden(session_block_executions,'session_execution_id')

In [24]:
session_set_executions = pd.read_csv('/home/evida-monika/mhunters/session_set_executions.csv', on_bad_lines='skip', low_memory=False)

session_set_executions2 = session_set_executions.drop(['reps_executed', 'execution_time',
                                                       'created_at', 'updated_at'], axis = 1)

In [25]:
# session_set_executions['id'].nunique()

In [26]:
# jeden(session_set_executions, 'session_block_execution_id')

In [27]:
session_blocks = pd.read_csv('/home/evida-monika/mhunters/session_blocks.csv', on_bad_lines='skip', low_memory=False, header = None)
session_blocks.columns = ['id', 'session_id', 'time_duration', 
                              'created_at', 'updated_at',
                              'order', 'block_type', 'loop']

session_blocks2 = session_blocks.drop(['time_duration', 'created_at', 'updated_at',
                                       'loop'], axis = 1)

In [28]:
# jeden(session_blocks,'session_id')

In [29]:
user_programs = pd.read_csv('/home/evida-monika/mhunters/user_programs.csv', on_bad_lines='skip', low_memory=False)

user_programs2 = user_programs.drop(['enjoyment_notes'], axis = 1)

In [30]:
# user_programs.info()

In [31]:
# user_programs['id'].nunique()

In [32]:
# user_programs.shape

In [33]:
# trzy(user_programs, 'user_id', 'current_session_id', 'program_id')

In [34]:
sessions = pd.read_csv('/home/evida-monika/mhunters/sessions.csv', on_bad_lines='skip', low_memory=False)

sessions2 = sessions.drop(['level', 'reps', 'created_at', 'updated_at', 'strength', 
                           'endurance', 'technique', 'flexibility', 'intensity',
                           'name_es','description_en', 'description_es'], axis = 1)

In [35]:
# print(sessions['id'].nunique(), sessions.shape)

In [36]:
session_sets = pd.read_csv('/home/evida-monika/mhunters/session_sets.csv', on_bad_lines='skip', low_memory=False)

session_sets2 = session_sets.drop(['level', 'time_duration', 'reps', 
                                   'session_set_type','created_at', 'updated_at',
                                   'loop'], axis = 1)

In [37]:
# print(session_sets['id'].nunique(),
# session_sets.shape, session_sets['id'].duplicated().any())

In [38]:
# jeden(session_sets,'session_block_id')

In [39]:
exercise_executions = pd.read_csv('/home/evida-monika/mhunters/exercise_executions.csv', on_bad_lines='skip', low_memory=False, header = None)

exercise_executions.columns = ['id', 'exercise_id', 'session_set_execution_id', 
                              'reps_executed', 'execution_time',
                              'order', 'created_at', 'updated_at']

exercise_executions.columns # here everything stays

Index(['id', 'exercise_id', 'session_set_execution_id', 'reps_executed',
       'execution_time', 'order', 'created_at', 'updated_at'],
      dtype='object')

In [40]:
# exercise_executions['id'].nunique()

In [41]:
# dwa(exercise_executions, 'session_set_execution_id', 'exercise_id')

In [42]:
programs = pd.read_csv('/home/evida-monika/mhunters/programs.csv', on_bad_lines='skip', low_memory=False)

programs2 = programs.drop(['user_id', 'code_name', 'name_es', 
                           'description_es', 'auto_generated', 'priority_order', 
                           'next_program_id'], axis = 1)

In [43]:
# programs['id'].nunique()

In [44]:
# programs.info()

In [45]:
# jeden(programs,'user_id')

In [46]:
exercise_implements = pd.read_csv('/home/evida-monika/mhunters/exercise_implements.csv', on_bad_lines='skip', low_memory=False)

exercise_implements2 = exercise_implements.drop(['created_at', 'updated_at'], axis = 1)

In [47]:
# exercise_implements.shape

In [48]:
# dwa(exercise_implements, 'exercise_id', 'implement_id')

In [49]:
user_achievements = pd.read_csv('/home/evida-monika/mhunters/user_achievments.csv', on_bad_lines='skip', low_memory=False)

user_achievements.head()

,id,user_id,achievment_id,created_at,updated_at
0,525,950,5,2021-10-16 06:32:04.112093,2021-10-16 06:32:04.112093
1,529,1133,4,2021-10-18 05:45:56.186027,2021-10-18 05:45:56.186027
2,534,1224,3,2021-10-20 15:35:15.671076,2021-10-20 15:35:15.671076
3,538,1219,3,2021-10-21 11:56:25.874451,2021-10-21 11:56:25.874451
4,5,571,3,2021-06-03 05:29:39.984727,2021-06-03 05:29:39.984727

In [50]:
# user_achievements['id'].nunique()

In [51]:
# user_achievements2 = user_achievements.sort_values('updated_at').groupby('user_id').tail(1) # latest value of achievement for each id
# dwa(user_achievements2, 'user_id', 'achievment_id')

In [52]:
# dwa(user_achievements, 'user_id', 'achievment_id')

In [53]:
# user_achievements2.merge(users, how = 'left', left_on = 'user_id', right_on = 'id')

In [54]:
program_sessions = pd.read_csv('/home/evida-monika/mhunters/program_sessions.csv', on_bad_lines='skip', low_memory=False)

In [55]:
# dwa(program_sessions, 'program_id', 'session_id')

In [56]:
program_profiles = pd.read_csv('/home/evida-monika/mhunters/program_profiles.csv', on_bad_lines='skip', low_memory=False)

In [57]:
# dwa(program_profiles, 'program_id', 'profile_id')

In [58]:
program_implements = pd.read_csv('/home/evida-monika/mhunters/program_implements.csv', on_bad_lines='skip', low_memory=False)

program_implements2 = program_implements.drop(['created_at', 'updated_at'], axis = 1)

In [59]:
# dwa(program_implements, 'program_id', 'implement_id')

In [60]:
implements = pd.read_csv('/home/evida-monika/mhunters/implements.csv', on_bad_lines='skip', low_memory=False)

implements2 = implements.drop(['created_at', 'updated_at', 'name_es'], axis = 1)

In [61]:
daily_reports = pd.read_csv('/home/evida-monika/mhunters/daily_reports.csv', sep = ';')

daily_reports2 = daily_reports.drop(['created_at', 'updated_at'], axis = 1)

In [62]:
products = pd.read_csv('/home/evida-monika/mhunters/products.csv', on_bad_lines='skip', low_memory=False)

# to delete probably, or just leave the id

In [78]:
products.head()

,id,price,name,store_reference,currency,local,created_at,updated_at,store,available,has_trial,trial_days,discount_percentage,discount_forever,period
0,60,59.99,PRO 1y 25% off,1y_5999_itunes_ft_14,NaN,NaN,2021-10-19 08:49:08.947257,2021-12-01 09:08:13.308055,0,t,t,14.0,NaN,f,0
1,48,79.99,PRO 1y,1y_7999_itunes_ft_14,NaN,NaN,2021-02-04 15:34:35.043522,2021-10-18 10:26:48.545155,0,t,t,14.0,NaN,f,0
2,36,79.99,Test PRO 1y Stripe,id_test,1.0,es,2021-01-29 14:01:34.073265,2021-11-18 11:36:31.927983,2,f,f,0.0,NaN,f,0
3,16,59.99,PRO 1y,v12.1y,1.0,es,2021-01-19 15:52:09.062109,2021-12-01 09:03:54.41897,0,f,f,0.0,NaN,f,0
4,52,79.99,Test PRO 1y Play,1y_7999trial_test,NaN,NaN,2021-02-08 13:04:13.216993,2021-11-18 18:06:05.762312,1,f,f,0.0,NaN,f,0

In [63]:
# products['id'].nunique()

In [64]:
# products.shape

In [65]:
offers = pd.read_csv('/home/evida-monika/mhunters/offers.csv', on_bad_lines='skip', low_memory=False)

offers2 = offers.drop(['created_at', 'updated_at'], axis = 1)

In [76]:
offers2.head()

   id          offer_code
0   2       1y_7999_ft_14
1   3             3m_4999
2   5             1y_5999
3   7  1y_7999_trial_test
4   1             1y_7999

In [66]:
product_offers = pd.read_csv('/home/evida-monika/mhunters/product_offers.csv', on_bad_lines='skip', low_memory=False)

product_offers2 = product_offers.drop(['created_at', 'updated_at', 'code_name'], axis = 1)

In [77]:
product_offers2.head()

   id  offer_id  product_id
0  25         9          38
1   2         2          40
2   3         2          45
3   4         2          46
4   5         3          38

In [67]:
# dwa(product_offers, 'offer_id', 'product_id')

In [68]:
user_implements = pd.read_csv('/home/evida-monika/mhunters/user_implements.csv', on_bad_lines='skip', low_memory=False)

user_implements2 = user_implements.drop(['created_at', 'updated_at'], axis = 1)

In [69]:
# user_implements.shape

In [70]:
# user_implements['id'].nunique()

In [71]:
# dwa(user_implements, 'implement_id', 'user_id')

In [72]:
program_characteristics = pd.read_csv('/home/evida-monika/mhunters/program_characteristics.csv', on_bad_lines='skip', low_memory=False)

program_characteristics2 = program_characteristics.drop(['created_at', 'updated_at', 
                                                         'objective', 'value_en',
                                                         'value_es'], axis = 1)

In [73]:
# jeden(program_characteristics, 'program_id')

In [74]:
# user_implements.merge(users2, how='inner', left_on = 'user_id', right_on = 'id')

In [75]:
# user_implements[user_implements['user_id'].isin(users['id'])]